#set ($width = '850')
#set ($i-uppercase = 'text-transform: uppercase;')
#set ($i-100 = 'width: 100%;')
#set ($i-white = 'color: #FFFFFF;')
#set ($i-brand-color = 'color: #B8A44C;')
#set ($i-info-text-color = 'color: #888780;')
#set ($i-border ='border-bottom-style: solid; border-bottom-width: 2px; border-color: #888780;')
#set ($i-main = 'padding-left: 5%; padding-right: 5%;')
#set ($i-col-1 = 'width: 45%;')
#set ($i-col-2 = 'width: 40%;')
#set ($i-retrieve-btn = 'padding-top: 10px; padding-left: 20px; padding-bottom: 10px; padding-right: 20px; background-color: #b8a44c; text-decoration: none;')
#set ($i-header-bg = 'background-color: #584d32; border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: #888780;')
#set ($i-font = 'font-family: Lato,Arial,sans-serif;')
#set ($i-main-font-size = 'font-size: 18px;')
#set ($i-content='padding-top: 15px; padding-bottom: 15px;')
#set ($i-footer='padding-top: 8px; padding-bottom: 8px;')
#set ($i-data = 'font-size: 16px; padding-top: 5px; padding-bottom: 5px;')
#set ($i-extra-img-styles = 'line-height: 0;')
#set ($i-separator = 'background-color: #C0A21E;')
#set ($header-img= 'cid:header.png')
#set ($separator-img = 'cid:separator.png')
#set ($logo-img = 'cid:logo.png')
<!DOCTYPE html>
<html>
<body yahoo="fix">
<!--[if mso & !IEMobile]>
<table border="0" cellspacing="0" cellpadding="0" align="center" width="$width"><tr><td>
<![endif]-->
<table cellspacing="0" cellpadding="0" border="0" align="center" style="max-width: ${width}px; $i-100">
    <tr><td style="$i-header-bg">
        <table cellspacing="0" cellpadding="0" border="0" align="left" style="$i-100">
            <tr>
                <td valign="middle" style="$i-extra-img-styles $i-white"><img src="$header-img" alt="Sky Pearl logo" style="height: 100%;"></td>
                <td width="30%" align="center" style="$i-font $i-uppercase $i-white $i-main-font-size">Wait&nbsp;list</td>
            </tr>
        </table>
    </td></tr>
    <tr><td style="$i-main">
        <table cellspacing="0" cellpadding="0" border="0" align="left" style="$i-100">
            <tr><td align="center" style="$i-font $i-main-font-size line-height: 35px; padding-top: 25px; padding-bottom: 25px">
                #foreach($wait in $details.waitList)
                $wait.nSeats #if($wait.nSeats == 1)seat#{else}seats#{end} on Flight $wait.flightNumber from $wait.from to $wait.to is wait listed<br/>
                #end
                #if($user)You will be contacted when airline processes your request#end
            </td></tr>
            <tr><td style="$i-extra-img-styles $i-separator">
                <img src="$separator-img" style="$i-100" alt="horizontal line">
            </td></tr>
            <tr><td style="$i-content">
                <table cellspacing="0" cellpadding="0" border="0" align="left" style="$i-100">
                    <tr>
                        <td style="$i-font $i-uppercase $i-brand-color $i-col-1 $i-main-font-size">Name</td>
                        <td style="$i-font $i-uppercase $i-brand-color $i-main-font-size">FF No</td>
                    </tr>
                    #foreach($pax in $details.paxDetails)
                    <tr>
                        <td valign="top" style="$i-font $i-data">$pax.lastName $pax.firstName</td>
                        <td valign="top" style="$i-font $i-data">#if ("$!pax.ffNumber" != "")$pax.ffNumber#{else}--#end</td>
                    </tr>
                    #end
                </table>
            </td></tr>
            <tr><td style="$i-content $i-border">
                <table cellspacing="0" cellpadding="0" border="0" align="left" style="$i-100">
                    <tr>
                        <td style="$i-font $i-uppercase $i-brand-color $i-main-font-size $i-col-1">Flight number/date</td>
                        <td style="$i-font $i-uppercase $i-brand-color $i-main-font-size $i-col-2">From</td>
                        <td style="$i-font $i-uppercase $i-brand-color $i-main-font-size">To</td>
                    </tr>
                    #macro (uy_renderFlights $flights)
                        #foreach($flight in $flights)
                    <tr>
                        <td valign="top" style="$i-font $i-data">$flight.flightNumber/$!date.format('H:mm dd/MM/YYYY',$!flight.departure.toLocalDateTime().toDate())</td>
                        <td valign="top" style="$i-font $i-data">$flight.from.code</td>
                        <td valign="top" style="$i-font $i-data">$flight.to.code</td>
                    </tr>
                        #end
                    #end
                    #uy_renderFlights($details.outboundFlights)
                    #uy_renderFlights($details.returnFlights)
                </table>
            </td></tr>
            <tr><td style="$i-content $i-border">
                <sup>&#9733;</sup> All times are local to airport.<br />
                <sup>&#9733;</sup> For any assistance you may contact Sky Pearl.
            </td></tr>
            <tr><td style="$i-font  $i-content">
					 <table cellspacing="0" cellpadding="0" border="0" align="left" style="$i-100">
						  <tr  style="$i-uppercase"><td style="$i-font">
								 Baggage Allowance and Baggage Fees:
						  </td></tr>
						  <tr><td style="$i-font">
								<ul>
									<li>Members are entitled to carry Two pieces of luggage (Including Carry-On) weighing a total of 25 kg (55lbs) maximum.</li>
									<li>The maximum luggage dimensions must be 22" x 14" x 9"</li>
									<li>If the number of pieces is over the limit, a USD 250 fee will be applied to each additional piece.</li>
								</ul>
						  </td></tr>
					 </table>
            <tr><td align="center" style="$i-font $i-uppercase $i-content">
                Your ticket record is electronically stored with sky pearl
            </td></tr>
            <tr><td style="$i-extra-img-styles $i-separator">
                <img src="$separator-img" style="$i-100" alt="horizontal line">
            </td></tr>
            <tr><td>
                <table cellspacing="0" cellpadding="0" border="0" align="center" style="$i-100">
                    <tr><td align="center" style="$i-footer">
                        <img src="$logo-img" alt="Sky Pearl logo" style="max-height: 80px;">
                    </td></tr>
                    <tr><td align="center" style="$i-font $i-footer $i-uppercase $i-brand-color">
                        Support
                    </td></tr>
                    <tr><td align="center" style="$i-font $i-footer $i-uppercase $i-info-text-color">
                        Sky Pearl centre numbers:
                    </td></tr>
                    <tr><td align="center" style="$i-font $i-footer $i-info-text-color">
                        Tel: <a href="tel:+966112228877" style="$i-info-text-color text-decoration: none;">+966 11 222 8877</a><br />
                        <span style="font-size: 14px;">Call Center: <a href="tel:920016222" style="$i-info-text-color text-decoration: none;">920016222</a></span>
                    </td></tr>
                    <tr><td align="center" style="$i-font $i-footer $i-brand-color">
                        Copyright &#169; SKY PEARL. All rights reserved. For<br/>
                        assistance, please contact SKY PEARL via<br/>
                        telephone or e-mail
                    </td></tr>
                </table>
            </td></tr>
        </table>
    </td></tr>
</table>
<!--[if mso & !IEMobile]>
</table>
<![endif]-->
</body>
</html>
