<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>

      <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes"/>
      <meta name="format-detection" content="telephone=no"/>
      <style>
         /*
         This stylesheet is used to reset css parameters to a base line so
         that we are always starting from scratch no matter which type of browser is
         in use
         */
         html,h1,h2,h3,h4,h5,h6,p,ol,ul,li,pre,code,address,variable,form,fieldset,blockquote
         { /* padding: 0; */ /* margin: 0; */
         font-size: 100%;
         font-weight: normal;
         }

         body {
         font-size: 100%;
         font-weight: normal;
         background-color:#FFFFFF;
         }

         table {
         border-collapse: collapse;
         border-spacing: 0;
         }

         td,th,caption {
         font-weight: normal;
         text-align: left;
         }

         img,fieldset {
         border: 0;
         }

         ol {
         padding-left: 1.4em;
         list-style: decimal;
         }

         ul {
         padding-left: 1.4em;
         list-style: square;
         }

         q:before,q:after {
         content: '';
         }

         .connecting_flight_info {
         font-weight: normal;
         font-size: 10px;
         color: red;
         }

         .smallhelp_info {
         font-weight: normal;
         font-size: 10px;
         color: blue;
         }

         .smallerror_info {
         font-weight: normal;
         font-size: 10px;
         color: red;
         }

         .colStyle1 {
         padding-right: 10px;
         }

         * {
         font-family: sans-serif, helvetica, arial, verdana;
         font-size: 15px;
         margin: 0;
         }

         .mainNav {
         margin: 0;
         padding: 0;
         }

         .mainNav a {
         color: #003399;
         text-decoration: none;
         padding: 7px 5px 7px 6px;
         display: block;
         zoom: 1;
         }

         .mainNav a:hover {
         font-weight: bold;
         color: #ffffff;
         background-color: #3399ff;
         }

         .positionIcon {
         float: left;
         margin-left: 4px;
         margin-right: 2px;
         }

         .hidden {
         display: none;
         }

         .standard {
         font-weight: normal;
         }

         .standard_gray {
         font-weight: normal;
         color: #777777;
         }

         .standard_bold_gray {
         font-weight: bold;
         color: gray;
         }

         .standard_nav {
         font-weight: normal;
         font-size: 12px;
         }

         .standard_lang {
         font-weight: normal;
         font-size: 10px;
         }

         .standard_small {
         font-weight: normal;
         font-size: 9px;
         }

         .form_error_small {
         font-weight: normal;
         font-size: 9px;
         color:#ed1c24;
         display: block;
         }

         .standard_small_bold {
         font-weight: bold;
         font-size: 9px;
         }

         .standard_bold {
         font-weight: bold;
         }

         .standard_attention {
         font-weight: bold;
         color: #ed1c24;
         }

         .breadcrumb_background {
         background: #003399;
         border-left: 10px solid #003399;
         margin-left: -10px;
         margin-right: -10px;
         }

         .breadcrumb_home {
         font-weight: bold;
         color: #ffffff;
         text-decoration: none;
         height: 29px;
         line-height: 27px;
         }

         .crumb {
         font-weight: bold;
         color: #3399ff;
         height: 29px;
         line-height: 27px;
         }

         .footer_background {
         background: #d3d3d3;
         border-left: 10px solid #d3d3d3;
         border-top: 0px solid #d3d3d3;
         }

         .spacer {
         margin-top: 12px;
         }

         .spacer_small {
         margin-top: 6px;
         }

         .spacer_results {
         margin-top: 12px;
         }

         .footer_spacer {
         margin-top: 9px;
         }

         .margin_top {
         margin-top: 12px;
         }

         .margin_button {
         margin-top: 12px;
         }
         .offlineDateSmall {
         font-weight: normal;
         font-size: 9px;
         }
         a.delLink {
         padding-left: 8px;
         padding-right: 8px;
         float:right;
         color: #113355;
         background: #FFCC00;
         border: 1px solid #AA2222;
         -webkit-border-radius: 2px; /* for Safari */
         -moz-border-radius: 2px;
         }

         a.delLink:link {
         color: #000;
         text-decoration: none;
         }

         a.delLink:visited {
         color: #000;
         text-decoration: none;
         }

         a.delLink:active {
         color: #000;
         text-decoration: none;
         }

         a.delLink:hover {
         color: #777777;
         text-decoration: underline;
         }

         a.utility {
         height: 21px;
         line-height: 21px;
         }

         a.utility:link {
         color: #777777;
         text-decoration: none;
         }

         a.utility:visited {
         color: #777777;
         text-decoration: none;
         }

         a.utility:active {
         color: #777777;
         text-decoration: none;
         }

         a.utility:hover {
         color: #777777;
         text-decoration: underline;
         }

         a.contents {
         height: 29px;
         line-height: 27px;
         }

         a.contents:link {
         color: #0d6a8b;
         text-decoration: underline;
         }

         a.contents:visited {
         color: #0d6a8b;
         }

         a.contents:active {
         color: #333333;
         }

         a.contents:hover {
         color: #333333;
         }

         .attention {
         background: #ffffcc;
         border: 2px solid #ffcc00;
         text-align: left;
         }

         table.form tr {
         height: 30px;
         }

         table.form td {
         vertical-align: middle;
         }

         .button {
         width: 130px;
         background: #DB2028;
         border: 1px outset #971BIE;
         border-radius: 4px;
         color: #fff;
         font-weight: bold;
         text-shadow: 0 1px 1px black;
         }

         input[type="submit"][disabled="disabled"].button.standard {
         background: lightgrey;
         border: 1px outset grey;
         color: grey;
         text-shadow: 0 0px;
         }


         .button_wide {
         width: 150px;
         background: #DB2028;
         border: 1px outset #971BIE;
         border-radius: 4px;
         /*font-weight: bold;*/
         color: #fff;
         text-shadow: 0 1px 1px black;
         }

         .td {
         white-space: nowrap;
         padding: 0px;
         }

         .margin {
         margin: 0px 0px 0px 0px;
         }

         .shareLink {
         height: 37px;
         line-height: 37px;
         text-align: left;
         }

         .shareLink a {
         color: black;
         text-decoration: none;
         display: block;
         }

         .shareLink a:visited {
         color: black;
         text-decoration: none;
         display: block;
         }

         .shareLink a:hover {
         margin-left: -8px;
         margin-right: -8px;
         color: black;
         background-color: #f2f2f2;
         font-weight: bold;
         }

         .formInput td {
         vertical-align: middle;
         }

         .highlight {
         background-color: #fcc;
         }

         table.callCenter td {
         width: 110px;
         text-align: left;
         }

         table.ffn td {
         width: 110px;
         text-align: left;
         }

         table.eticket td {
         width: 110px;
         text-align: left;
         }

         table.viewItinerary {
         width: 100%;
         }

         .viewItin_td_odd {
         font-weight: normal;
         text-align: left;
         background: #EEEEEE;
         }

         .viewItin_td_even {
         font-weight: normal;
         text-align: left;
         background: #DDDDDD;
         }

         .td_odd {
         font-weight: normal;
         text-align: left;
         background: #EEEEEE;
         }

         .td_even {
         font-weight: normal;
         text-align: left;
         background: #DDDDDD;
         }

         .back {
         font-weight: bold;
         text-decoration: none;
         color: #003399;
         }

         .borderit img {
         border: none;
         }

         .borderit:focus img {
         border: 2px solid orange;
         height: 19px;
         width: 19px;
         }

         .borderit:hover img {
         border: 2px solid orange;
         height: 19px;
         width: 19px;
         }

         .borderit:hover {
         color: red; /* irrelevant definition to overcome IE bug */
         }

         .button1 {
         text-decoration: none;
         color: #003399;
         background-color: lightgray;
         border: 1px solid gray;
         font-size: small;
         }

         .button1:hover {
         text-decoration: none;
         color: #003399;
         background-color: #FFFFFF;
         border: 1px solid gray;
         font-size: small;
         }

         .bb {
         border: 1px solid #B4B4B4;
         }

         html,body {
         height: 100%;
         }

         .wrapper {
         min-height: 100%;
         height: auto !important;
         height: 100%;
         margin: 0 auto -164px;
         margin-left: 10px;
         margin-right: 10px;
         }

         .footer,.push {
         margin-top: 10px;
         height: 154px;
         }

         .pricingColumnWidth1 {
         width: 116px;
         }

         .pricingColumnWidth2 {
         width: 86px;
         }

         .flifoColumnWidth1 {
         width: 60px;
         }

         .flifoColumnWidth2 {
         width: 110px;
         }

         .schedulesColumnWidth1 {
         width: 80px;
         }

         .schedulesColumnWidth2 {
         width: 110px;
         }

         .countryCodeButtonWidth {
         width: 68px;
         }

         .countryCodeButton {
         padding: 0, 0, 0, 0;
         margin-left: 3px;
         width: 60px;
         text-align: left;
         background-color: white;
         }

         .phoneStyle {
         margin-left: 4px;
         max-width: 84px
         }

         .ffnMaxWidth {
         max-width: 84px
         }

         .priceSummary {
         width: 100px;
         }

         .displayItinColumn1 {
         width: 96px;
         }

         .displayItinColumn2 {
         width: 110px;
         }

         .totalPaid {
         max-width: 160px;
         }

         .securityCode {
         max-width: 40px;
         }

         .bookingInput {
         width: 170px;
         }

         .phoneInput {
         width: 86px;
         }

         .ffnPrefix {
         width: 32px;
         }

         .ffnInput {
         width: 148px;
         }

         #modalPage {
         display: none;
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0px;
         left: 0px;
         }
         .modalBackground {
         filter: Alpha(Opacity = 40);
         -moz-opacity: 0.4;
         opacity: 0.4;
         width: 100%;
         height: 100%;
         background-color: #999999;
         position: absolute;
         z-index: 500;
         top: 0px;
         left: 0px;
         }
         .modalContainer {
         position: absolute;
         width: 100%;
         z-index: 750;
         }
         .modal {
         background-color: white;
         border: solid 4px black;
         position: relative;
         margin: 5px;
         z-index: 1000;
         width: auto;
         padding: 0px;
         z-index: 1000;
         }
         .modalTop {
         background-color: #FFCC00;
         padding: 4px;
         color: #113355;
         text-align: center;
         }
         .modalTop a,.modalTop a:visited {
         color: #000000;
         }
         .modalBody {
         padding: 10px;
         }

         .rich-table,.rich-table-header,.rich-table-headercell,.rich-table-cell,.rich-subtable-cell,.rich-table-footercell,.rich-subtable-footercell
         {
         border-width: 0px;
         }

         .native_app_prompt {
         background: #ffffcc;
         border: 2px solid #ffcc00;
         text-align: center;
         padding: 2px;
         }

         .checkin_color {
         color: #0d6a8b;
         }

         .align_center {
         text-align:center;
         }

         .mob99 {
         padding: 0px;
         padding-right: 2px;
         padding-left: 2px;
         border: 2px solid #ffa0a0;
         background: #ffff00;
         }

         .aircraft_type {
         font-size: 12px;
         font-weight: bold;
         color: #777;
         }

         .flifo_next_flight {
         font-weight: normal;
         background-color: #C7D1CF;
         padding: 2px;
         margin-top: 2px;
         margin-right: 2px;
         -webkit-border-radius: 8px;
         -moz-border-radius: 8px;
         border-radius: 8px;
         }

         .itin_softborder {
         background:#e8f0f0;
         border:1px solid #dfdfdf;
         }

         .itin_boxed {
         background:#f8f8f8;
         border:2px solid #5391be;
         }

         #price-itin-success-outbound-page div.route-label, #price-itin-success-return div.route-label{
         margin-top: 7px;
         }
         #mobileErrMsg, span.form_error_small.mobileErrMsg{
         margin-left: 5px;
         }
         .phoneInput.highlight{
         position: relative;
         padding: 0px;
         top: 7px;
         }
         #mobileErrMsg, .form_error_small.mobileErrMsg{
         position: relative;
         top: 5px;
         }
         span.form_error_small.mobileErrMsg{
         top: 3px;
         }

         div#flifoResults table.fb_column_new span.fb_label_standard, div#flifoResults div.route-label{
         padding-left: 5px;
         }

         .centeredImage {
         text-align: center;
         margin-top: 0px;
         margin-bottom: 0px;
         padding: 0px;
         }


      </style>

      <style>

         .mainNav a {
         color: #003399;
         }
         .mainNav a:hover {
         color: #ffffff;
         background-color: #3399ff;
         }
         .breadcrumb_background {
         background: #003399;
         border-left: 10px solid #003399;;
         }

         .crumb {
         color: #3399FF;
         }


         a.utility:link {
         color: #999999;
         }

         a.utility:visited {
         color: #999999;
         }

         a.utility:active {
         color: #999999;
         }

         a.utility:hover {
         color: #999999;
         }

         .footer_background {
         background:transparent;
         border-left:10px solid transparent;
         border-top:0px solid transparent;
         }

         .button {
         background:#DB2028;
         border: 1px outset #971BIE;
         border-radius: 4px;
         color:#fff;
         font-weight: bold;
         text-shadow: 0 1px 1px black;
         }
      </style>

      <style>
         * {
         margin-left: 2px;
         margin-right: 2px;
         }
      </style>
      <title>Your Bhutan Airlines Travel Reservation</title>
   </head>
   <body>
      #parse("/config/airlines/b3/templates/def.en.app-promo.Email.vm")
      <img src="" alt="Bhutan Airlines"
           border="0" height="35" width="160"/>
      <div>
         <div>
            <span style="font-size:20px;font-weight: bold;">$!appName</span>
         </div>
         <div>
            <span style="font-weight: bold;color: #800000;">SEAT HOLDING</span>
         </div>
         <br/>
         <div class="standard fb_text_standard" style="color: #ff3333"><b>FURTHER ACTION REQUIRED</b>
			</div>
			<div class="spacer_small fb_spacer_small">
				
			</div>
			<br/>
         <div class="_displayItinColumn1 fb_displayItinColumn1">
            <label class="standard_bold fb_label_standard">
               Passenger Name(s):
            </label>
         </div>
         #foreach($pax in $details.paxDetails)
         <div class="spacer_small fb_spacer_small">
            <div class="spacer_small"></div>
            <span class="standard  fb_text_standard fb_bold">$pax.firstName $pax.lastName</span>
         </div>
         #end
         <div class="fb_spacer_small">
            <label class="standard_bold   fb_label_standard">
               Booking Reference:
            </label>
            <span class="standard  fb_text_standard">$details.pnr</span>
         </div>
         <div class="spacer_small fb_spacer_small"></div>
         #foreach($flight in $details.outboundFlights)
         <table class="rich-table viewItinerary fb_viewTableItinerary fb_itinerary_table"
                border="0" cellpadding="0" cellspacing="0">
            <tbody>
               <tr class="rich-table-row rich-table-firstrow ">
                  <td class="rich-table-cell ">
                     <div class="spacer_small fb_spacer_small">
                        <label class="standard fb_text_standard">From: </label>
                        <span class="standard fb_text_standard">$flight.from.name</span>
                     </div>
                     <div>
                        <label class="standard fb_text_standard">To: </label>
                        <span class="standard fb_text_standard">$flight.to.name</span>
                     </div>
                     <div>
                        <label class="standard fb_text_standard">Flight: </label>
                        <span class="standard_bold fb_text_standard fb_bold">$flight.flightNumber</span>
                     </div>
                     <div>
<!--                        <label style="color: #444;" class="standard_bold fb_text_standard fb_bold">Boeing 737-400
                        </label>
-->                     </div>
                     <div>
                        <label class="standard fb_text_standard">Depart: </label>
                        <span class="standard fb_text_standard">$date.format('E, MMM d, HH:mm',$flight.departure.toLocalDateTime().toDate())</span>
                     </div>
                     <div>
                        <label class="standard fb_text_standard">Arrive: </label>
                        <span class="standard fb_text_standard">$date.format('E, MMM d, HH:mm',$flight.arrival.toLocalDateTime().toDate())</span>
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>
         #end

         #foreach($flight in $details.returnFlights)
         <table class="rich-table viewItinerary fb_viewTableItinerary fb_itinerary_table"
                border="0" cellpadding="0" cellspacing="0">
            <tbody>
               <tr class="rich-table-row rich-table-firstrow ">
                  <td class="rich-table-cell ">
                     <div class="spacer_small fb_spacer_small">
                        <label class="standard fb_text_standard">From: </label>
                        <span class="standard fb_text_standard">$flight.from.name</span>
                     </div>
                     <div>
                        <label class="standard fb_text_standard">To: </label>
                        <span class="standard fb_text_standard">$flight.to.name</span>
                     </div>
                     <div>
                        <label class="standard fb_text_standard">Flight: </label>
                        <span class="standard_bold fb_text_standard fb_bold">$flight.flightNumber</span>
                     </div>
                     <div>
<!--                        <label style="color: #444;" class="standard_bold fb_text_standard fb_bold">Boeing 737-400
                        </label>
-->                     </div>
                     <div>
                        <label class="standard fb_text_standard">Depart: </label>
                        <span class="standard fb_text_standard">$date.format('E, MMM d, HH:mm',$flight.departure.toLocalDateTime().toDate())</span>
                     </div>
                     <div>
                        <label class="standard fb_text_standard">Arrive: </label>
                        <span class="standard fb_text_standard">$date.format('E, MMM d, HH:mm',$flight.arrival.toLocalDateTime().toDate())</span>
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>
         #end


         <div class="spacer" style="background:#ffffcc; border:2px solid #ffcc00; padding:4px">
            <div class="totalPaid">
               <label style="padding-left: 4px" class="standard_bold fb_text_standard fb_bold">
                  Total:
               </label>
               <span class="standard_bold fb_text_standard fb_bold">$details.currency</span>
               <span class="standard_bold fb_text_standard fb_bold">$numberFormatter.format('#0.00', $details.price)</span>
            </div>
            <div>
               <span class="standard fb_text_standard">(Including tax and fees but excluding administration fee)</span>
            </div>
         </div>
      </div>
   </body>
</html>