<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

	<h1>Upload Excel Status</h1>

	<div th:if="${message}">
	    <h2 th:text="${message}"/>
	</div>
	<div class="panel-body">
        <table width="90%" border=".5">
	        <tr th:each="row : *{workbook}" th:object="${row}" th:if="${row.sheetName} == 'OnDs'">
	            <td width="10%"><h5 th:text="${row.originCity}"/></td>
	            <td width="10%"><h5 th:text="${row.originAirportCode}"></h5></td>
	            <td width="10%"><h5 th:text="${row.originAirportName}"></h5></td>
	            <td width="10%"><h5 th:text="${row.originCountry}"></h5></td>
	            <td width="10%"><h5 th:text="${row.destCity}"></h5></td>
	            <td width="10%"><h5 th:text="${row.destAirportCode}"></h5></td>
	            <td width="10%"><h5 th:text="${row.destAirportName}"></h5></td>
	            <td width="10%"><h5 th:text="${row.destCountry}"></h5></td>
	            <td width="5%"><h5 th:text="${row.returnFlightAvailable}"></h5></td>
	        </tr>
        </table>
    </div>
	<div class="panel-body">
        <table width="100%" border=".5">
	        <tr th:each="row : *{workbook}" th:object="${row}" th:if="${row.sheetName} != 'OnDs'">
	            <td width="10%"><h3 th:text="${row.sheetName}"/></td>
	            <td width="10%"><h5 th:text="${row.type}"></h5></td>
	            <td width="5%"><h5 th:text="${row.id}"></h5></td>
	            <td width="15%"><h5 th:text="${row.option}"></h5></td>
	            <td width="15%"><h5 th:text="${row.sitaDefaults}"></h5></td>
	            <td width="10%"><h5 th:text="${row.validValues}"></h5></td>
	            <td width="15%"><h5 th:text="${row.airlineRequestedValues}"></h5></td>
	            <td width="10%"><h5 th:text="${row.phase}"></h5></td>
	            <td width="10%"><h5 th:text="${row.comments}"></h5></td>
	        </tr>
        </table>
    </div>

</body>
</html>